---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import ProjectCardSvg from "../components/ProjectCardSvg.astro";
import ProjectCardIcons from "./ProjectCardIcons.astro";

interface Props {
  index: number;
  project: {
    title: string;
    desc: string;
    liveLink: string;
    repoLink: string;
    imgPath: string;
  };
}

const { index, project } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);

if (!images[project.imgPath])
  throw new Error(
    `"${project.imgPath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`,
  );
---

<div
  class="relative grid h-full max-h-[600px] w-full items-center gap-6 justify-self-center rounded-3xl bg-gray-100 p-4 shadow-[rgba(149,157,165,0.2)_0px_8px_24px] md:grid-cols-2"
>
  <div
    class="flex w-full max-w-96 flex-col justify-center gap-2 justify-self-center text-center md:justify-self-end md:text-end"
  >
    <h2 class="text-2xl font-semibold">{project.title}</h2>
    <ProjectCardIcons index={index} />
    <p>
      {project.desc}
    </p>
    <div class="flex justify-center gap-4 md:justify-end">
      <a
        href={project.liveLink}
        target="_blank"
        class="rounded-lg bg-gray-100 px-4 py-1 font-semibold text-gray-600 outline -outline-offset-[3px] outline-gray-600 transition hover:scale-105 active:scale-100"
        >Live</a
      >
      <a
        href={project.repoLink}
        target="_blank"
        class="rounded-lg bg-gray-600 px-4 py-1 font-semibold text-white transition hover:scale-105 active:scale-100"
        >Code</a
      >
    </div>
  </div>
  <div class="aspect-video w-full rounded-2xl bg-gray-300 p-1.5">
    <Image
      src={images[project.imgPath]()}
      alt="Project Image"
      class="rounded-xl"
    />
  </div>

  <ProjectCardSvg index={index} />
</div>
